/*=============== HOME ===============*/
.home{
    position: relative;
    overflow: hidden;

    &__container{
        position: relative;
        padding-top: 4rem;
        row-gap: 3rem;
    }
    &__data{
        text-align: center;
    }
    &__title{
        font-size: var(--h1-font-size);
        margin-bottom: 1rem;
    }
    &__subtitle{
        font-size: var(--h3-font-size);
        margin-bottom: .25rem;
    }
    &__elec{
        font-size: var(--small-font-size);
        font-weight: 400;
        color: var(--text-color);
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;

        & i{
            color: var(--first-color);
        }
    }
    &__img{
        width: 280px;
        justify-self: center;
    }
    &__car{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4rem;
        margin-bottom: 2rem;

        &-name{
            font-size: .625rem;
            font-weight: 400;
            color: var(--text-color-light);
        }
        &-data{
            text-align: center;
        }
        &-number{
            font-size: var(--h2-font-size);
            font-weight: var(--font-medium);
            margin-bottom: .25rem;
        }
        
        &-icon{
            background-color: var(--container-color);
            border-radius: 50%;
            padding: .376rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: .875rem;
            margin-bottom: .75rem;
        }
        
    }
    &__button{
        position: relative;
        border: 2px solid hsl(158, 89%, 30%);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        font-size: var(--small-font-size);
        color: var(--white-color);
        font-weight: var(--font-medium);
        
        &::before{
            content: '';
            border: 2px solid hsl(158, 98%, 43%);
            width: 90px;
            height: 90px;
            position: absolute;
            border-radius: 50%;
            box-shadow: 0 0 12px hsl(158, 98%, 43%);
            transition: .3s;
            animation: button 3s infinite;
        }
    }

    & .shape__big,
    & .shape__small{
        position: absolute;
    }

    & .shape__big{
        left: -9rem;
        top: -4rem;
    }
    
    & .shape__small{
        right: -10rem;
        bottom: 3rem;
    }
}

/* Button animate */
@keyframes button {
    0% {
        box-shadow: 0 0 12px hsl(158, 98%, 43%);
    }
    50% {
        box-shadow: 0 0 24px hsl(158, 98%, 43%);
    }
}